
body{
    background-color: #dfd3d3;
}
h1{
    font-size: 42px;
    text-align: center;
    color: red;
    margin-top: 5%;
}

p {
    font-size: 20px;
    text-align: center;
}
#popupContainer {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    padding: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

#popupBackground {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 246, 246, 0.5);
    z-index: 999;
}

#bottomCornerButton {
    position: fixed;
    bottom: 50px;
    right: 50px;
    background-color: #2196F3; 
    color: #fff;
    border: none;
    border-radius: 50%; /* Make it round */
    padding: 20px;
    font-size: 32px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#closeButton {
    background-color: #e6e3e3; /* Red color for close button */
    color: #070505;
    border: none;
    padding: 5px;
    font-size: 10px;
    cursor: pointer;
    position: absolute;
    top: 10px; 
    right: 10px
}

form {
    text-align: center;
}

form h3 {
    margin-bottom: 20px;
}

form input[type="text"] {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 16px;
}

form button {
    padding: 5px;
    font-size: 12px;
}
.list-cont {
    background-color: #cec3c3;
    display: flex;
    width: 80%;
    margin: 0 auto;
}

ul {
    padding: 0;
    margin-left: 20%;
    width: 60%;
    margin-top: 2rem;
  }

  li {
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
  }

  .delete-button {
    background-color: #ff0000; 
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }

  